.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  .header__buttons {
    display: flex;
    gap: 50px;
  }
}

.btn_inst {

  img{
    width: 130% !important;
  }
}

@media (max-width: 780px) {
  .header{
    .header__buttons {
      display: none
    }
  }
}
